@mixin flexStyling {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin marginNav {
    margin: 0 15px;
}

@mixin fontDesign ($fontSize, $fontFamily){
    font-size: $fontSize;
    font-family: $fontFamily;
}