@mixin flexStyling ($flex, $justify, $align) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin marginNav {
    margin-inline: 15px;
}

@mixin fontDesign ($fontSize, $fontFamily){
    font-size: $fontSize;
    font-family: $fontFamily;
}

@mixin dropMenus {
    border: none;
    background-color: unset;
}

@mixin  dropDownIcon {
    display: inline-block;
    margin: -6px 2px;
}

@mixin dropMeuBorder {
    border-top: 5px solid #f8e88b;
    border-radius: 10px;
}

@mixin dropDownPosition ($position, $top, $left) {
    position: $position;
    top: $top;
    left: $left;
}

@mixin buttonStyling {
    border: none;
    font-family: $font-default;
    border-radius: 10px;
    padding: 6px 14px;
    font-size: 1rem;
    cursor: pointer;
    @content;
}

@mixin goDownBtn ($bottom) {
    position: relative;
    bottom: $bottom;
}

@mixin imgSection ($width, $height) {
    width: $width;
    height: $height;
}

@mixin footerIcons {
    background-color: $lastChild-color;
    color: $secondary-color;
    font-size: 40px;
    margin-top: 14px;
    margin-left: 15px;
    padding: 10px;
    border-radius: 10px;
    @content;
}

/*Responsive*/
@mixin responsive ($width) {
    
    @if ($width == XL) {
        @media (max-width: 1400px) {
            @content;
        }
    }

    @else if ($width == L) {
        @media (max-width: 1200px) {
            @content;
        }
    }
    
    @else if ($width == M) {
        @media (max-width: 990px) {
            @content;
        }
    }

    @else if ($width == S) {
         @media (max-width: 768px) {
            @content;
        }
    }

    @else if ($width == XS) {
        @media (max-width: 575px) {
           @content;
       }
   }

   @else if ($width == SD) {
        @media (max-width: 541px) {
            @content;
        }
    }

}
