@import './mixins';
@import './variables';

.banner {
    width: 1050px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(135deg, #21254e, #2b4a83);
    padding: 124px 60px 80px;
    margin: 20px auto;
    border-radius: 20px;

    .banner-content {
        color: $light-color;
        h3 {
            @include fontDesign (2rem, $font-heavy);
        }
    }
}



.banner-img {
    width: 500px;
}