@import './mixins';
@import './variables';

.banner {
    width: 1050px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(135deg, #21254e, #2b4a83);
    padding: 124px 60px 80px;
    margin: 10px auto;
    border-radius: 20px;

    .banner-content {
        width: 700px;
        color: $light-color;
        h3 {
            @include fontDesign (2rem, $font-heavy);
        }
        p {
            @include fontDesign (1.15rem, $font-default);
            margin: 25px 0;
            line-height: 2.4rem;
        }
    }
}

.button-container {
    margin-top: 55px;
    .register {
        @include buttonStyling {
            background-color: $register-button;
            margin-left: 10px;
        }
    }
    .login {
        @include buttonStyling {
            background-color: $login-button;
            color: $light-color;
        }
    }
}

.banner-img {
    width: 500px;
}

.go-down-button {
    @include flexStyling (flex, center, center);
    flex-direction: column;
    @include goDownBtn (47px);
    width: 100%;
    div {
        background-image: url(../images/arrowbottom.svg);
        width: 164px;
        height: 78px; 
    }
    .go-down-icon {
        @include goDownBtn (64px);
        font-size: 25px;
    }
}

/*Responsive*/
@include responsive (L) {
    .banner {
        width: 860px;
        padding: 60px 40px 120px;
    }

    .banner-img img {
        width: 420px;
    }
}

@include responsive (M) {
    .banner {
        width:auto;
        padding: 40px 40px 85px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .banner-img {
        display: none;
    }

    .banner-content {
        width: max-content;
        margin: auto;
        text-align: justify;
        text-align-last: center;
    }

    .button-container {
        margin-top: 40px;
    }
}

@include responsive (S) {
    .banner {
        margin-left: 8px;
        margin-right: 8px;
    }
}