/*Responsive*/
@font-face {
  font-family: 'ireanyekanwebmedium';
  src: url("../fonts/iranyekanwebmedium.woff") format("woff");
}

@font-face {
  font-family: 'ireanyekanwebregular';
  src: url("../fonts/iranyekanwebregular.woff") format("woff");
}

@font-face {
  font-family: 'YekanBakhBold';
  src: url("../fonts/YekanBakhBold.woff") format("woff");
}

@font-face {
  font-family: 'YekanBakhHeavy';
  src: url("../fonts/YekanBakhHeavy.woff") format("woff");
}

@font-face {
  font-family: 'YekanBakhMedium';
  src: url("../fonts/YekanBakhMedium.woff") format("woff");
}

.card-section {
  width: 1170px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.img-card-container img {
  width: 430px;
  height: 440px;
}

.card-container {
  width: 570px;
  margin: 30px 0;
}

.card-container h2 {
  color: #747480;
  font-size: 1.5rem;
  font-family: "ireanyekanwebmedium";
  font-weight: 200;
}

.card-container h3 {
  color: #303030;
  font-size: 2rem;
  font-family: "YekanBakhHeavy";
}

.card-container p {
  color: #303030;
  font-size: 1rem;
  font-family: "YekanBakhMedium";
  line-height: 37px;
  border-bottom: 1px solid #dfe1e4;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.card-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-buttons .payment-button {
  border: none;
  font-family: "ireanyekanwebmedium";
  border-radius: 10px;
  padding: 6px 14px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ffd900;
  font-size: 0.9rem;
  padding: 8px 14px;
  margin-left: 10px;
}

.card-buttons .know-more-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  border: none;
  font-family: "ireanyekanwebmedium";
  border-radius: 10px;
  padding: 6px 14px;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgba(232, 239, 254, 0.6);
  font-size: 0.9rem;
  padding: 8px 24px;
  color: #28457b;
}

.arrow-section {
  margin-top: 4px;
  margin-right: 7px;
  font-size: 0.9rem;
}

/*Responsive*/
@media (max-width: 1200px) {
  .card-section {
    width: 940px;
    margin-top: 50px;
  }
  .card-container {
    width: 460px;
  }
}

@media (max-width: 990px) {
  .card-section {
    margin-top: 10px;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-container {
    text-align: right;
    width: auto;
    margin: 0 40px;
    line-height: 40px;
  }
  .card-container h3 {
    font-size: 1.6rem;
    font-family: "YekanBakhHeavy";
    margin-bottom: 10px;
  }
  .card-buttons {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .card-container {
    margin-top: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .card-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 575px) {
  .img-card-container {
    display: none;
  }
  .card-container {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=Cards.css.map */