@import './mixins';
@import './variables';

.card-section {
    width: 1170px;
    margin: 30px auto;
    @include flexStyling (flex, space-between, flex-start);
}

.img-card-container img {
    @include imgSection (430px, 440px);
}

.img-card-container-two img {
    @include imgSection (580px, 470px);
}

#card-num-three {
    margin-top: 120px;
}

#card-num-four {
    margin-top: 130px;
}

.card-container {
    width: 570px;
    margin: 30px 0;
    h2 {
        color: $section-title-color;
        @include fontDesign (1.5rem, $font-default);
        font-weight: 200;
    }
    h3 {
        color: $primary-color;
        @include fontDesign (2rem, $font-heavy);
    }
    p {
        color: $primary-color;
        @include fontDesign (1rem, $font-medium);
        line-height: 37px;
        border-bottom: 1px solid $border-color;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
}

.card-buttons {
    display: flex;
    .payment-button {
        @include buttonStyling;
        background-color: $register-button;
        font-size: 0.9rem;
        padding: 8px 14px;
        margin-left: 10px;
    }
    .know-more-button {
        display: flex;
        justify-content: left;
        @include buttonStyling;
        background-color: $lastChild-color;
        font-size: 0.9rem;
        padding: 8px 24px;
        color: $secondary-color;
    }
}

.arrow-section {
    margin-top: 4px;
    margin-right: 7px;
    font-size: 0.9rem;
}
/*Responsive*/
@include responsive (L) {
    .card-section {
        width: 940px;
        margin-top: 50px;
    }
    .card-container {
        width: 460px;
    }
    .img-card-container-two img {
        @include imgSection (520px, 410px);
    }
    #card-num-four {
        margin-top: 90px;
    }
}

@include responsive (M) {
    .card-section {
        margin-top: 10px;
        width: auto;
        flex-direction: column;
        align-items: center;
    }
    
    .card-container {
        text-align: right;
        width: auto;
        margin: 0 40px;
        line-height: 40px;
        h3 {
            @include fontDesign (1.6rem, $font-heavy);
            margin-bottom: 10px;
        }
    }
    .card-buttons {
        margin-bottom: 30px;
    }
    .img-card-container-two img {
        @include imgSection (520px, 410px);
    }
    #card-num-three {
        margin-top: 50px;
    }
}

@include responsive (S) {
    .card-container {
        margin-top: 30px;
        justify-content: center;
        text-align: center;
    }
    .card-buttons {
        justify-content: center;
    }
    .img-card-container-two img {
        @include imgSection (460px, 330px);
    }
}

@include responsive (XS) {
    .img-card-container {
        display: none;
    }
    .card-container {
        margin-top: 10px;
    }
    .img-card-container-two {
        display: none;
    }
    .img-card-container-three {
        display: none;
    }
    #card-num-four {
        margin-top: 10px;
    }
    .img-card-container-four {
        display: none;
    }
}