@import './mixins';
@import './variables';

div[role='menu'] {
    display: none;
}
div[role='menu'].visible {
    display: block; 
}

#dropDown-menu {
    @include dropMenus;
    position: relative;
    cursor: pointer;    
}

.visible {
    width:115px;
    background-color: $light-color;
    @include dropMeuBorder;
    @include dropDownPosition (absolute, 65px, 105px);
    box-shadow: 2px 4px 10px rgb(177, 197, 219);
}

.drop-list-items {
    padding: 7px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    padding: 10px 0;
    a {
        text-decoration: none;
        @include fontDesign (0.9rem, $font-medium);
        color: $dark-color;
    }
}

.drop-list-items {
    li {
        &:hover {
            background-color: $lastChild-color;
        }
        transition: all .1s ease-in;
    }
}

.drop-down-sign {
    @include dropDownIcon;
}

@include responsive (M) {

    .visible {
        @include dropDownPosition (absolute, 55px, 32px);
    }
}

@include responsive (S) {
    
    #dropDown-menu {
        display: none;
    }

    div[role='menu'] {
        display: none;
    }

    .visible {
        display: none;
    }
    
}