@import './mixins';
@import './variables';

.features {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: auto;
}

.definition {
    width: 35%;
    margin-top: 40px;
    color: $primary-color;
    h3 {
        @include fontDesign (2rem, $font-heavy);
    }
    p {
        @include fontDesign (0.9rem, $font-default);
        margin-top: 40px;
        line-height: 37px;
    }
}

.feature-list {
    width: 62%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
}

.feature {
    padding: 19px 50px 10px 8px;
    margin-left: -1px;
    margin-top: -1px;
    div{
        display: flex;
        align-items: center;
        h4 {
            @include fontDesign (1.5rem, $font-heavy);
            color: $primary-color;
        }
    }
    p {
        color: $primary-color;
        @include fontDesign (0.9rem, $font-default);
        line-height: 34px;
        margin: 20px 0 20px 10px;
    }
}

.feature-icon {
    background-color: $lastChild-color;
    color: $secondary-color;
    font-size: 40px;
    padding: 8px;
    border-radius: 13px;
    margin-left: 15px;
}

.first-feature {
    border-left: 1px solid $border-color;
}

.second-feature {
    border-bottom: 1px solid $border-color;
}

.third-feature {
    border-top: 1px solid $border-color;
}

.fourth-feature {
    border-right: 1px solid $border-color;
}

@include responsive (L) {
    .features {
        width: 924px;
        flex-direction: column;
        padding: 0 8px;
        .definition {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 30px;
        }
        .feature-list {
            width: 80%;
            padding: 30px;
        }
    }

    .feature {
        width: 100%;
        margin-bottom: 20px;
        padding: 18px 0 20px 50px;
        p {
            margin-left: 70px;
        }
    }

    .first-feature,
    .second-feature,
    .third-feature,
    .fourth-feature {
        border: none;
    }
}

@include responsive (M) {
    .features {
        width: auto;
        padding: 0 35px;
        .feature-list {
            margin-top: 60px;
        }
    }

    .feature {
        p {
            margin-left: 0;
        }
    }
    
    .definition {
        h3 {
            @include fontDesign (1.7rem, $font-heavy);
        }
        p {
            margin-top: 20px;
        }
    }
    
}

@include responsive (S) {
    .features {
        margin-top: 80px;
        padding: 0;
        .feature-list {
            margin-top: 10px;
        }
    }

    .feature {
        padding: 0;
        p {
            text-align: justify;
            margin-left: 20px;
        }
    }

    .definition {
        h3 {
            text-align: center;
            margin-bottom: 18px;
        }
        p {
            text-align: justify;
            width: 80%;
            margin: auto;
        }
    }
    
}

@include responsive (XS) {
    .features {
        align-items: center;
        .definition {
            margin-bottom: 0;
            h3 {
                font-size: 1.5rem;
            }
        }
    }
    
    .feature-list {
        grid-template-columns: 1fr;
    }
    .feature {
        width: 80%;
        padding: 0 45px;
        div h4 {
            font-size: 1.2rem;
        }
    }
}