@import './mixins';
@import './variables';

.features {
    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: auto;
}

.definition {
    width: 35%;
    margin-top: 40px;
    color: $primary-color;
    h3 {
        @include fontDesign (2rem, $font-heavy);
    }
    p {
        @include fontDesign (0.9rem, $font-default);
        margin-top: 40px;
        line-height: 37px;
    }
}

.feature-list {
    width: 62%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
}

.feature {
    padding: 18px 50px 10px 0;
    margin-left: -1px;
    margin-top: -1px;
    div{
        display: flex;
        align-items: center;
        h4 {
            @include fontDesign (1.5rem, $font-heavy);
            color: $primary-color;
        }
    }
    p {
        color: $primary-color;
        @include fontDesign (0.9rem, $font-default);
        line-height: 34px;
        margin: 20px 0 20px 10px;
    }
}

.feature-icon {
    background-color: $lastChild-color;
    color: $secondary-color;
    font-size: 40px;
    padding: 8px;
    border-radius: 13px;
    margin-left: 15px;
}

.first-feature {
    border-left: 1px solid $border-color;
}

.second-feature {
    border-bottom: 1px solid $border-color;
}

.third-feature {
    border-top: 1px solid $border-color;
}

.fourth-feature {
    border-right: 1px solid $border-color;
}