@import './mixins';
@import './variables';

footer {
    width: 1150px;
    margin: 50px auto;
}

.support-container {
    background-color: $footer-color;
    @include flexStyling (flex, space-between, center);
    height: 70px;
    border-radius: 37px;
    padding: 0 30px;    
}

.support-section {
    display: flex;
    @include fontDesign (1.5rem, $font-heavy);
    color: $primary-color;
    .support-phone {
        color: $secondary-color;
        margin-right: 10px;
    }
    .text-divider {
        padding: 0 20px;
    }
}

.support-request {
    @include fontDesign (1.3rem, $font-bold);
    font-weight: 100;
    
    .support-link {
        text-decoration: none;
        color: $secondary-color;
    }
    .support-arrow {
        margin-bottom: -8px;
        margin-right: 10px;
    }
}

/*footer section */
.footer-section {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    .shortcut-section {
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.shortcut-list {
    display: flex;
    flex-direction: column;   
    h4 {
        @include fontDesign (1.2rem, $font-heavy);
        color: $primary-color;
    }
    .footer-links {
        @include fontDesign (0.95rem, $font-default);
        color: $primary-color;
        text-decoration: none;
        padding-top: 20px;
    }
}

.social-media {
    h4 {
        @include fontDesign (1.2rem, $font-heavy);
        color: $primary-color;
    }
   .footer-icons {
    @include footerIcons;
   }
}

@include responsive (L) {
    footer {
        width: 940px;
    }
}

@include responsive (M) {
    footer {
        width: 90%;
    }
    .support-container {
        padding: 0 25px;
    }
    .support-section {
        font-size: 1.2rem;
    }
    .support-request {
        font-size: 1.1rem;
        .support-arrow {
            margin-bottom: -5px;
        }
    } 
}

@include responsive (S) {
    .support-container {
        background-color: unset;
        align-items: flex-start;
        flex-direction: column;
    }
    .support-request {
        background-color: $footer-color;
        padding: 10px 15px;
        margin-top: 7px;
        border-radius: 37px;
        font-size: 1rem;
    }
}

@include responsive (XS) {
    footer {
        border-top: 1px solid $border-color;
    }
    .support-container {
        margin-top: 40px;
        flex-direction: column;
    }
    .support-section {
        font-size: 0.9rem;
        .text-divider {
            display: none;
        }
        .phone-text {
            margin-right: 20px;
        }
    }
    .support-request {
        margin-top: 20px;
        font-size: 0.9rem;
        font-weight: 600;
    } 
}