@import './mixins';
@import './variables';

footer {
    width: 1150px;
    margin: 50px auto;
}

.support-container {
    background-color: $footer-color;
    @include flexStyling (flex, space-between, center);
    height: 70px;
    border-radius: 37px;
    padding: 0 30px;
    
}

.support-section {
    display: flex;
    @include fontDesign (1.5rem, $font-heavy);
    color: $primary-color;
    .support-phone {
        color: $secondary-color;
        margin-right: 10px;
    }
    .text-divider {
        padding: 0 20px;
    }
}

.support-request {
    @include fontDesign (1.3rem, $font-default);
    font-weight: 600;
    
    .support-link {
        text-decoration: none;
        color: $secondary-color;
    }
    .support-arrow {
        margin-bottom: -8px;
        margin-right: 10px;
    }
}

@include responsive (L) {
    footer {
        width: 940px;
    }
}

@include responsive (M) {
    footer {
        width: 90%;
    }
    .support-container {
        padding: 0 25px;
    }
    .support-section {
        font-size: 1.2rem;
    }
    .support-request {
        font-size: 1.1rem;
        .support-arrow {
            margin-bottom: -5px;
        }
    } 
}