@import './mixins';
@import './variables';

.hambur-menu {
    position: sticky;
    width: 100%;
    top: 40px;
    right:0;
}

@include responsive (XL) {
    .hambur-menu {
        display: none;
    }
}

@include responsive (L) {
    .hambur-menu {
        display: none;
    }
}

@include responsive (M) {
    .hambur-menu {
        display: none;
    }
}

@include responsive (S) {
    .hambur-menu {
        display: block ;
        background-color: $light-color;
        width: 100%;
        margin: auto;
        height: 230px;
        
        .hambur-wrapper {
            display: flex;
            flex-direction: column;
            padding-right: 30px;  
            div {
                height: 1px;
                width: 90%;
                background-color: $border-color;
                margin: 8px 0;
            }
        }

        .hambur-list {
            @include fontDesign (0.9rem, $font-default);
            color: $dark-color;
            text-decoration: none;
        }
    }
}

