@import './mixins';
@import './variables';

.hambur-menu {
    background-color: $light-color;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 200px;
    z-index: 100;
    font-family: $font-medium;
    @include flexStyling (flex, flex-start, right);

    ul {
        flex-direction: column;
        list-style-type: none; 
    }
}

.hambur-list {
    text-decoration: none;
    color: $dark-color;
}