@import "./mixins";
@import "./variables";

header {
    @include flexStyling;
    background-color: $tertiary-color;
    backdrop-filter: blur(20px);
    width: 1170px;
    height: 60px;
    margin: auto;
    padding: 30px 0 7px;
    position: sticky;
    top: 0;
    transition: all .3s ease;

    ul {
        display: flex;
        list-style-type: none;
        line-height: 30px;

        .link-list {
            text-decoration: none;
            @include marginNav;
            @include fontDesign (0.9rem, $font-default);
            color: $primary-color;
        }
    }

}

.drop-down-sign {
    display: inline-block;
    margin: -6px 2px;

}

.navbar-wrapper > li:last-child {
    background-color: $lastChild-color;
    border-radius: 20px;
    margin: 0 15px;
    @include fontDesign (0.6rem, $font-bold);
    font-weight: 600;
    padding: 0 10px;
    &:hover {
        background-color: $hover-color;
    }
}

.logo-container {
    @include marginNav;
}

/*Responsive*/
@mixin responsive ($width) {
    @if ($width == L) {
        @media (max-width: 1200px) {
            @content;
        }
    }
    
    @else if ($width == M) {
        @media (max-width: 990px) {
            @content;
        }
    }

    @else if ($width == S) {
         @media (max-width: 768px) {
            @content;
        }
    }
}
