/*Responsive*/
@font-face {
  font-family: 'ireanyekanwebmedium';
  src: url("../fonts/iranyekanwebmedium.woff") format("woff");
}

@font-face {
  font-family: 'ireanyekanwebregular';
  src: url("../fonts/iranyekanwebregular.woff") format("woff");
}

@font-face {
  font-family: 'YekanBakhBold';
  src: url("../fonts/YekanBakhBold.woff") format("woff");
}

@font-face {
  font-family: 'YekanBakhHeavy';
  src: url("../fonts/YekanBakhHeavy.woff") format("woff");
}

@font-face {
  font-family: 'YekanBakhMedium';
  src: url("../fonts/YekanBakhMedium.woff") format("woff");
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.72);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  width: 1170px;
  height: 60px;
  margin: auto;
  padding: 30px 0 7px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  line-height: 30px;
}

header ul .link-list {
  text-decoration: none;
  margin: 0 15px;
  font-size: 0.9rem;
  font-family: "ireanyekanwebmedium";
  color: #303030;
}

.drop-down-sign {
  display: inline-block;
  margin: -6px 2px;
}

.navbar-wrapper > li:last-child {
  background-color: rgba(232, 239, 254, 0.6);
  border-radius: 20px;
  margin: 0 15px;
  font-size: 0.6rem;
  font-family: "YekanBakhBold";
  font-weight: 600;
  padding: 0 10px;
}

.navbar-wrapper > li:last-child:hover {
  background-color: #f9eeee;
}

.logo-container {
  margin: 0 15px;
}

.icon-container {
  display: none;
}

div[role='menu'] {
  visibility: hidden;
}

div[role='menu'].visible {
  visibility: visible;
}

#dropDown-menu {
  border: none;
  background-color: unset;
  position: relative;
  cursor: pointer;
}

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  position: absolute;
  top: 76px;
  left: 234px;
  width: 115px;
  border-top: 5px solid #f8e88b;
  border-radius: 10px;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.visible ul {
  list-style-type: none;
  text-align: center;
  padding: 10px 0;
}

.visible ul a {
  text-decoration: none;
  font-size: 0.9rem;
  font-family: "YekanBakhMedium";
  color: #000000;
}

.drop-list-items {
  padding: 7px;
}

/*Responsive*/
@media (max-width: 1200px) {
  header {
    width: 940px;
  }
}

@media (max-width: 990px) {
  header {
    width: auto;
    padding: 10px 40px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  header img {
    margin-right: -20px;
  }
  nav {
    margin-right: auto;
  }
  .navbar-wrapper > li:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  header {
    max-width: none;
    padding: 10px 0;
    width: auto;
    height: 40px;
  }
  header nav {
    display: none;
  }
  .logo-container {
    padding-right: 30px;
  }
  .icon-container {
    display: block;
    font-size: 25px;
    padding-left: 30px;
  }
  #dropDown-menu {
    display: none;
  }
  div[role='menu'] {
    display: none;
  }
  .visible {
    display: none;
  }
}
/*# sourceMappingURL=Navbar.css.map */