@import "./mixins";
@import "./variables";

header {
    @include flexStyling(flex, space-between, center);
    background-color: $tertiary-color;
    backdrop-filter: blur(20px);
    width: 1170px;
    height: 60px;
    margin: auto;
    padding: 30px 0 7px;
    position: sticky;
    top: 0;
    transition: all .3s ease;

    ul {
        display: flex;
        list-style-type: none;
        line-height: 30px;

        .link-list {
            text-decoration: none;
            @include marginNav;
            @include fontDesign (0.9rem, $font-default);
            color: $primary-color;
        }
    }

}

.drop-down-sign {
    display: inline-block;
    margin: -6px 2px;

}

.navbar-wrapper > li:last-child {
    background-color: $lastChild-color;
    border-radius: 20px;
    margin: 0 15px;
    @include fontDesign (0.6rem, $font-bold);
    font-weight: 600;
    padding: 0 10px;
    &:hover {
        background-color: $hover-color;
    }
}

.logo-container {
    @include marginNav;
}

.icon-container {
    display: none;
}

div[role='menu'] {
    visibility: hidden;
}
div[role='menu'].visible {
    visibility: visible;
}

#dropDown-menu {
    @include dropMenus;
    position: relative;
    cursor: pointer;
}

.visible {
    display: flex;
    flex-direction: column;
    background-color: $light-color;
    @include dropDownPosition (absolute, 76px, 234px);
    width:115px;
    @include dropMeuBorder;
    transition: all .25s ease;

    ul {
        list-style-type: none;
        text-align: center;
        padding: 10px 0;
        a {
            text-decoration: none;
            @include fontDesign (0.9rem, $font-medium);
            color: $dark-color;
        }
    }
}

.drop-list-items {
    padding: 7px;
}

/*Responsive*/
@include responsive (L) {
    header {
        width: 940px;
    }
}

@include responsive (M) {
    header {
        width: auto;
        padding: 10px 40px; 
        max-width: fit-content;
        img {
            margin-right: -20px; 
        }
    }
    nav {
        margin-right: auto;
    }

    .navbar-wrapper > li:last-child {
        display: none;
    }
}

@include responsive (S) {
    header {
        max-width: none;
        padding: 10px 0;
        width: auto;
        height: 40px;
        
        nav {
            display: none;
        }
    }

    .logo-container {
        padding-right: 30px;
    }

    .icon-container {
        display: block;
        font-size: 25px;
        padding-left: 30px;
    }
    #dropDown-menu {
        display: none;
    }

    div[role='menu'] {
        display: none;
    }

    .visible {
        display: none;
    }
    
}
