@import './mixins';
@import './variables';

#products-button {
    @include dropMenus;
    position: relative;
    cursor: pointer;  
}

div[role='menu'] {
    display: none;
}
div[role='menu'].products-menu {
    display: block; 
}

.link-list {
    @include marginNav;
    @include fontDesign (0.9rem, $font-default);
    color: $primary-color;
}

.drop-down-sign {
    @include dropDownIcon;
}

.products-menu {
    display: flex;
    justify-content: flex-start;
    width:345px;
    background-color: $light-color;
    @include dropMeuBorder;
    @include dropDownPosition (absolute, 76px, 414px);
    padding: 10px 0;
}

.products-menu a {
    color: $dark-color;
    font-family: $font-medium;
    text-decoration: none;
    display: block;
    padding: 8px;
    margin: 8px;
}

.products-menu a p:first-child {
    font-size: 0.95rem;
}

.products-menu a p:last-child {
    font-size: 0.75rem;
}