@import './mixins';
@import './variables';

#products-button {
    @include dropMenus;
    position: relative;
    cursor: pointer;  
}

div[role='menu'] {
    display: none;
}
div[role='menu'].products-menu {
    display: block; 
}

.link-list {
    @include marginNav;
    @include fontDesign (0.9rem, $font-default);
    color: $primary-color;
}

.drop-down-sign {
    @include dropDownIcon;
}

.products-menu {
    position: relative;
    width: 375px;
    background-color: $light-color;
    @include dropMeuBorder;
    @include dropDownPosition (absolute, 65px, 353px);
    padding: 10px 0;
}

.products-first-col {
    padding: 10px 25px;
}

.products-second-col {
    padding: 0 40px;
    position: absolute;
    left: 0;
    top:20px;
}

.products-menu span {
    display:inline-block;
    padding: auto;
}

.products-menu a {
    color: $dark-color;
    font-family: $font-medium;
    text-decoration: none;
}

.products-menu a p:first-child {
    font-size: 0.95rem;
}

.products-menu a p:last-child {
    font-size: 0.75rem;
}

@include responsive (M) {

    .products-menu {
        width: 330px;
        @include dropDownPosition (absolute, 55px, 310px);
    }
    .products-second-col {
        padding: 0 30px;    
    }
}

@include responsive (S) {
    
    #products-button {
        display: none;
    }

    div[role='menu'] {
        display: none;
    }

    .products-menu {
        display: none;
    }
}