@import './mixins';
@import './variables';

.start-box {
    width: 1050px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-color;
    border: 1px solid $border-color;
    border-radius: 12px;
    padding: 50px;
    h4 {
        @include fontDesign (1.8rem, $font-heavy);
        color: $primary-color;
    }
    p {
        @include fontDesign (1.3rem, $font-medium);
        margin: 7px 0 15px 0;
        color: $section-title-color;
    }
}

.start-button {
    @include buttonStyling;
    background-color: $register-button;
    font-size: 0.9rem;
}

@include responsive (L) {
    .start-box {
        width: 840px;
        
    }
}